{{ ansible_managed | comment(decoration="; ") }}
; Zone file for {{ zone.vars.bind_zone_name }}
{% set _zone_data = {'ttl': zone.vars.bind_zone_ttl,
                     'name': zone.vars.bind_zone_name,
                     'name_servers': zone.vars.bind_zone_name_servers,
                     'other_name_servers': zone.vars.bind_other_name_servers,
                     'mail_servers': zone.vars.bind_zone_mail_servers,
                     'hostmaster_email': zone.vars.bind_zone_hostmaster_email,
                     'refresh': zone.vars.bind_zone_time_to_refresh,
                     'retry': zone.vars.bind_zone_time_to_retry,
                     'expire': zone.vars.bind_zone_time_to_expire,
                     'minimum_ttl': zone.vars.bind_zone_minimum_ttl,
                     'hosts': zone.vars.bind_zone_hosts,
                     'services': zone.vars.bind_zone_services,
                     'text': zone.vars.bind_zone_text,
                     } %}
{% if zone.vars.bind_zone_name_servers|length < 1 %}
{% set _ = _zone_data.update({'name_servers': [ansible_hostname + '.' + zone.vars.bind_zone_name]}) %}
{% endif %}
{% if zone.vars.bind_zone_hosts|length < 1 %}
{% set _ = _zone_data.update({'hosts': [{'name': ansible_hostname, 'ip': ansible_default_ipv4.address}]}) %}
{% endif %}
{% set _zone_id = {'hash': _zone_data | string | hash('md5'),
                   'serial': ansible_date_time.year | string + ansible_date_time.month | string +
                             ansible_date_time.day | string + ansible_date_time.hour | string} %}
{% if bind__zone_id | length > 1 %}
{%   if _zone_id['hash'] == bind__zone_id[0] %}
{%     set _ = _zone_id.update({'serial': bind__zone_id[1]}) %}
{%   endif %}
{% endif %}
; Ansible Hash: {{ _zone_id['hash'] }} {{ _zone_id['serial'] }}

$ORIGIN {{ zone.vars.bind_zone_name }}.
$TTL {{ zone.vars.bind_zone_ttl }}

{% if zone.vars.bind_zone_name_servers|length > 0 %}
@ IN SOA {{ zone.vars.bind_zone_name_servers|first }}. {{ zone.vars.bind_zone_hostmaster_email }}. (
{% else %}
@ IN SOA {{ ansible_hostname }}.{{ zone.vars.bind_zone_name }}. {{ zone.vars.bind_zone_hostmaster_email }}. (
{% endif %}
  {{ _zone_id['serial'] }}
  {{ zone.vars.bind_zone_time_to_refresh }}
  {{ zone.vars.bind_zone_time_to_retry }}
  {{ zone.vars.bind_zone_time_to_expire }}
  {{ zone.vars.bind_zone_minimum_ttl }} )

{% if zone.vars.bind_zone_name_servers|length > 0 %}
{% for ns in zone.vars.bind_zone_name_servers %}
@                    IN  NS     {{ ns }}.
{% endfor %}
{% else %}
@                    IN  NS     {{ ansible_hostname }}.{{ zone.vars.bind_zone_name }}.
{% endif %}
{% for ns in zone.vars.bind_other_name_servers %}
@                    IN  NS     {{ ns }}.
{% endfor %}

{% for mail in zone.vars.bind_zone_mail_servers %}
{% if loop.first %}@{% else %} {% endif %}                    IN  MX     {{ mail.preference}}  {{ mail.name }}.
{% endfor %}

{% if zone.vars.bind_zone_hosts|length > 0 %}
{% for host in zone.vars.bind_zone_hosts %}
{% if host.ip is string %}
{{ host.name.ljust(20) }} IN  A      {{ host.ip }}
{% else %}
{% for ip in host.ip %}
{{ host.name.ljust(20) }} IN  A      {{ ip }}
{% endfor %}
{% endif %}
{% if host.ipv6 is defined %}
{% if host.ipv6 is string %}
{{ host.name.ljust(20) }} IN  AAAA   {{ host.ipv6 }}
{% else %}
{% for ip6 in host.ipv6 %}
{{ host.name.ljust(20) }} IN  AAAA   {{ ip6 }}
{% endfor %}
{% endif %}
{% endif %}
{% if host.aliases is defined %}
{% for alias in host.aliases %}
{{ alias.ljust(20) }} IN  CNAME  {{ host.name }}
{% endfor %}
{% endif %}
{% endfor %}
{% else %}
{{ ansible_hostname.ljust(20) }} IN A     {{ ansible_default_ipv4.address }}
{% endif %}
{% for service in zone.vars.bind_zone_services %}
{{ service.name.ljust(20) }} IN  SRV    {{ service.priority|default('0') }} {{ service.weight|default('0') }} {{ service.port }} {{ service.target }}
{% endfor %}
{% for text in zone.vars.bind_zone_text %}
{{ text.name.ljust(20) }} IN  TXT    "{{ text.text }}"
{% endfor %}
{% if zone.vars.bind_zone_caa is defined %}
{% for caa in zone.vars.bind_zone_caa %}
{{ caa.name.ljust(20) }} CAA    0 issue "{{ caa.text }}"
{% if caa.wildcard is defined and not caa.wildcard | bool %}
{{ caa.name.ljust(20) }} CAA    0 issuewild ";"
{% endif %}
{% if caa.contact is defined and caa.contact | length > 0 %}
{{ caa.name.ljust(20) }} CAA    0 iodef "mailto:{{ caa.contact }}"
{% endif %}
{% endfor %}
{% endif %}
{# vim: ft=text
#}
